<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>

    <div class="hero">

        <nav class="navbar">
            <h2 class="logo">My Portfolio</h2>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>

        <div class="hero-content">
            <h1>Hello, I'm <span class="highlight">Kowsalya Ganesan</span></h1>
            <p>Aspire to be DevOps Engineer  • Cloud Enthusiast</p>
            <a href="#projects" class="btn">View My Work</a>
        </div>

    </div>


    <!-- ABOUT SECTION -->
    <section id="about" class="section">
        <h1>About Me</h1>
        <p>
            I am a DevOps & Cloud Engineer enthusiast with hands-on experience in CI/CD,
            Python/Shell Scripting, AWS, Docker, Jenkins, Monitoring, and Automation.
        </p>
    </section>


    <!-- SKILLS SECTION -->
    <section id="skills" class="section dark">
        <h1>Skills</h1>
        <div class="skills-box">
            <span>Python</span>
            <span>Flask</span>
            <span>AWS</span>
            <span>Docker</span>
            <span>Jenkins</span>
            <span>GitHub</span>
            <span>Prometheus</span>
            <span>Grafana</span>
            <span>Linux</span>
        </div>
    </section>


    <!-- PROJECT SECTION -->
    <section id="projects" class="section">
        <h1>Projects</h1>
        <div class="projects-grid">

            <div class="project-card">
                <h2>DevOps Portfolio Project</h2>
                <p>End-to-end CI/CD using Jenkins, Docker, GitHub & AWS.</p>
            </div>

            <div class="project-card">
                <h2>Python Portfolio Website</h2>
                <p>Responsive Flask portfolio website with custom UI.</p>
            </div>

            <div class="project-card">
                <h2>Monitoring Stack</h2>
                <p>Prometheus + Grafana setup on EC2 with custom dashboards.</p>
            </div>

        </div>
    </section>


    <!-- CONTACT SECTION -->
    <section id="contact" class="section dark">
        <h1>Contact Me</h1>
        <p>Email: <b>kowsi629@example.com</b></p>
        <p>GitHub: <b>github.com/kowsie-devops</b></p>
    </section>

</body>
</html>

